.gl-broadcast-message {
  @include gl-display-flex;
  @include gl-justify-content-space-between;
  @include gl-align-items-flex-start;
  @include gl-font-base;
  @include gl-line-height-20;
  @include gl-pl-5;
  @include gl-pr-4;
  @include gl-py-5;

  &.indigo {
    --gl-broadcast-message-bg-color: #{$theme-indigo-700};
    --gl-broadcast-message-border-color: #{$theme-indigo-900};
  }

  &.light-indigo {
    --gl-broadcast-message-bg-color: #{$theme-indigo-500};
    --gl-broadcast-message-border-color: #{$theme-indigo-700};
  }

  &.blue {
    --gl-broadcast-message-bg-color: #{$theme-blue-700};
    --gl-broadcast-message-border-color: #{$theme-blue-900};
  }

  &.light-blue {
    --gl-broadcast-message-bg-color: #{$theme-blue-500};
    --gl-broadcast-message-border-color: #{$theme-blue-700};
  }

  &.green {
    --gl-broadcast-message-bg-color: #{$theme-green-700};
    --gl-broadcast-message-border-color: #{$theme-green-900};
  }

  &.light-green {
    --gl-broadcast-message-bg-color: #{$theme-green-500};
    --gl-broadcast-message-border-color: #{$theme-green-700};
  }

  &.red {
    --gl-broadcast-message-bg-color: #{$theme-red-700};
    --gl-broadcast-message-border-color: #{$theme-red-900};
  }

  &.light-red {
    --gl-broadcast-message-bg-color: #{$theme-red-500};
    --gl-broadcast-message-border-color: #{$theme-red-700};
  }

  &.dark {
    --gl-broadcast-message-bg-color: #{$gray-500};
    --gl-broadcast-message-border-color: #{$gray-700};
  }

  &.light {
    --gl-broadcast-message-bg-color: #{$gray-300};
    --gl-broadcast-message-border-color: #{$gray-500};
  }

  &.banner {
    @include gl-text-contrast-light;
    background-color: var(--gl-broadcast-message-bg-color);
    box-shadow: inset 0 -#{$gl-border-size-1} 0 0 var(--gl-broadcast-message-border-color);
  }

  &.notification {
    @include gl-rounded-base;
    @include gl-bg-white;
    @include gl-border;
    @include gl-shadow-x0-y2-b4-s0;
    max-width: $gl-broadcast-message-notification-max-width;
  }

  &-content {
    @include gl-display-flex;
    @include gl-justify-content-center;
  }

  &-icon {
    @include gl-mr-5;

    > svg {
      @include gl-vertical-align-bottom;
    }
  }

  &-dismiss {
    @include gl-my-n2;
    @include gl-ml-5;
  }
}
